.wrapper{
    @media (min-width: 320px) and (max-width:767px) { 

        & .bgbtn{
            margin-bottom:10px;
        }
        & .dash{
            &-counts{
                margin-bottom: 10px;
               &-each{
                margin: 0 0 10px 0 !important;
                width: 50% !important;
               }
            }
            &-tabs{
                ul{
                    li{
                        padding: 5px 13px;
                        a{
                            font-size: 11px;
                        }
                    }
                }
            }
            & .prods{
                & .tablewrap{
                  overflow-x: auto;
                  width: 320px;
               
              }
              }
        }
        & .inner{
            &-head{
                h1 {
                    font-size: 1.5rem;
                }
                p{
                    font-size: 13px;
                }
            }
        }
        & .like{
            font-size: 20px;
        }
        & .home{
            &-hero{
                height: auto;
                padding: 50px 20px;
             & .titles{
                 h2{
                     font-size:2rem;
                 }
             } 
            }
            &-identity{
                padding: 2rem 1rem;
            }
            &-shop{
                padding: 20px 0;
                ul{
                    li{
                        margin-bottom:15px;
                        & .imgwrap{
                            max-height: 235px;
                        }
                        h4{
                            font-size:14px;
                            span{
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
        & .collections{
           &-all{
               &-eachwrap{
                &-each{
                    width: calc((100%)/2 - .5rem);
                    margin: 0 .5rem .5rem 0;
                    &:nth-child(3){
                        margin-right: auto;
                    }
                    & .col-img{
                        max-height:250px;
                    }
                    & .details{
                        h2{
                            font-size: 13px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                        h3{
                            font-size: 14px;
                            span{
                               font-size:12px;
                            }
                        }
                        & .actions{
                            padding: 5px 0;
                            button{
                                font-size: 10px;
                                margin-right: 5px;
                                padding: 3px 8px;
                            }
                        }
                    }
                }
               }
            }   
        }     
        & .product{
            &-one{
                padding: 0;
            }
            &-two{
                padding: 0;
            }
        }  
        .footer{
            &-subscribe{ 
              padding: 2rem;
              h2{
                font-size: 1.3rem;
              }
              p{
                font-size: 12px;
              }
              form{
                margin-top: 15px;
                min-width: 20%;
                display: flex;
                flex-flow: row nowrap;
                input[type="text"]{
                  border:2px solid #CCC;
                  color:#fff;
                  height:35px;
                  font-size: 12px;
                  padding: 5px;
                  border-radius: 0px;
                  background: none;
                  margin-right:10px;
                }
                button{
                  height:35px;
                  color: #fff;
                  border-radius: 0;
                  line-height: 33px;
                  padding: 0 15px;
                  border: 2px solid #ca0030;
                  font-weight: 500;
                }
              }      
            }
            &-insta{
              padding: 2rem 15px;
            
              &-left{
                  margin-bottom:15px !important;
                h2{
                  font-size: 1.5rem;
                  margin-bottom: 1.5rem;
                }
                h3{
                  font-size: 1rem;
                  margin-bottom:5px;
                }
              }
              &-right{
                & .instaimg{
                    height:59px;
                    width:59px;
                  a{
                    img{
                      height: 60px;
                      width: 60px;
                    }
                  }
                }      
              }
            }
            &-foot{               
                & .copy{
                    text-align: left;
                }
                ul{
                    text-align: left;
                }
             & .footlogo{
                 font-size: .7rem;
                 text-align: left;
              }
            }
        }
        .navbar {
            width:100%;
            padding: 8px;
            border-bottom: 1px solid #ebebeb;
            border-top: 1px solid #ebebeb;
            &-toggler{
                background:url(../images/menu.png);  
                background-size:24px;
                background-repeat:no-repeat;  
                width: 30px;
                height: 30px;
                padding: 0;
                margin-bottom:10px;            
            }
            &-nav {
              li {
                margin: 0 0 1px 0!important;
                width: 100%;                
              }
            }
        }
        .login{
            &-inner{
                padding: 30px 25px;
                width: 300px;
            }
        }        
     }
}