@media (min-width: 320px) and (max-width: 767px) {
  .wrapper .inner-head h1 {
    font-size: 1.5rem; }
  .wrapper .inner-head p {
    font-size: 13px; }
  .wrapper .like {
    font-size: 20px; }
  .wrapper .home-hero {
    height: auto;
    padding: 50px 20px; }
    .wrapper .home-hero .titles h2 {
      font-size: 2rem; }
  .wrapper .home-identity {
    padding: 2rem 1rem; }
  .wrapper .home-shop {
    padding: 20px 0; }
    .wrapper .home-shop ul li {
      margin-bottom: 15px; }
      .wrapper .home-shop ul li .imgwrap {
        max-height: 235px; }
      .wrapper .home-shop ul li h4 {
        font-size: 14px; }
        .wrapper .home-shop ul li h4 span {
          font-size: 12px; }
  .wrapper .collections-all-eachwrap-each {
    width: calc((100%)/2 - .5rem);
    margin: 0 .5rem .5rem 0; }
    .wrapper .collections-all-eachwrap-each:nth-child(3) {
      margin-right: auto; }
    .wrapper .collections-all-eachwrap-each .col-img {
      max-height: 250px; }
    .wrapper .collections-all-eachwrap-each .details h2 {
      font-size: 13px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
    .wrapper .collections-all-eachwrap-each .details h3 {
      font-size: 14px; }
      .wrapper .collections-all-eachwrap-each .details h3 span {
        font-size: 12px; }
    .wrapper .collections-all-eachwrap-each .details .actions {
      padding: 5px 0; }
      .wrapper .collections-all-eachwrap-each .details .actions button {
        font-size: 10px;
        margin-right: 5px;
        padding: 3px 8px; }
  .wrapper .product-one {
    padding: 0; }
  .wrapper .product-two {
    padding: 0; }
  .wrapper .footer-subscribe {
    padding: 2rem; }
    .wrapper .footer-subscribe h2 {
      font-size: 1.3rem; }
    .wrapper .footer-subscribe p {
      font-size: 12px; }
    .wrapper .footer-subscribe form {
      margin-top: 15px;
      min-width: 20%;
      display: flex;
      flex-flow: row nowrap; }
      .wrapper .footer-subscribe form input[type="text"] {
        border: 2px solid #CCC;
        color: #fff;
        height: 35px;
        font-size: 12px;
        padding: 5px;
        border-radius: 0px;
        background: none;
        margin-right: 10px; }
      .wrapper .footer-subscribe form button {
        height: 35px;
        color: #fff;
        border-radius: 0;
        line-height: 33px;
        padding: 0 15px;
        border: 2px solid #ca0030;
        font-weight: 500; }
  .wrapper .footer-insta {
    padding: 2rem 15px; }
    .wrapper .footer-insta-left {
      margin-bottom: 15px !important; }
      .wrapper .footer-insta-left h2 {
        font-size: 1.5rem;
        margin-bottom: 1.5rem; }
      .wrapper .footer-insta-left h3 {
        font-size: 1rem;
        margin-bottom: 5px; }
    .wrapper .footer-insta-right .instaimg {
      height: 59px;
      width: 59px; }
      .wrapper .footer-insta-right .instaimg a img {
        height: 60px;
        width: 60px; }
  .wrapper .footer-foot .copy {
    text-align: left; }
  .wrapper .footer-foot ul {
    text-align: left; }
  .wrapper .footer-foot .footlogo {
    font-size: .7rem;
    text-align: left; }
  .wrapper .navbar {
    width: 100%;
    padding: 8px;
    border-bottom: 1px solid #ebebeb;
    border-top: 1px solid #ebebeb; }
    .wrapper .navbar-toggler {
      background: url(../images/menu.png);
      background-size: 24px;
      background-repeat: no-repeat; }
    .wrapper .navbar-nav li {
      display: inline-block;
      padding: 0;
      margin: 0 15px;
      width: 100%; }
      .wrapper .navbar-nav li a {
        color: #000;
        font-size: .7rem;
        font-family: Varela Round,sans-serif;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 2px;
        background: none;
        height: 25px;
        line-height: 25px;
        padding: 0; }
        .wrapper .navbar-nav li a.active {
          background: #ca0030;
          color: #fff; }
          .wrapper .navbar-nav li a.active:hover {
            background: #ca0030;
            color: #fff; }
        .wrapper .navbar-nav li a:hover {
          background: #333;
          color: #fff; }
  .wrapper .login-inner {
    padding: 30px 25px;
    width: 300px; } }

/*# sourceMappingURL=mobile.css.map */
